<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th></tr>
	  <tr>
	    <th>follows</th>
	   <td> <%= link_to follower_user_path(user.id) do %>
	    <%= "#{user.follower.count}" %>
	    <% end %></td>
	  </tr>
	  <tr>
	    <th>followers</th> 
	    <th><%= link_to followed_user_path(user.id) do %>
	    <%= "#{user.followed.count}" %>
	    <% end %></th>
	  </tr>
	  
	  
	  <tr>
	   <% if user == current_user %>
          <td></td>
          <% else %>
         <td><% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: 'btn btn-success' %>
      <% end %>
      <% end %></td>
	  </tr>
	  
	  
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>